body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;


}

h1{
    color: white;
    margin: 200px;

}

#team-btns {
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 50px;
}

#team-btns, img {
    width: 300px;
    height: 150px;
   
}

.rb-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%) scale(0);
    border-radius: 10px;
    border:1px solid white;
    background-color: black;
    z-index: 10;
    width: 500px;
    max-width: 80%;

}
.rb-modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.rb-modal .content {
    padding: 10px 15px;
    color: white;
}
.rb-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.301);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all 
}

